mixin panel-controller(id='')
    .slider__panel.panel(id=id)
        .panel__block_column Количество ползунков
                -const range = `range${id}`
                .panel__block_row
                    .panel__block
                        label.panel__label 
                            input(type="radio"  name=range class='panel__radio panel__radio_single')
                            span Один
                    .panel__block
                        label.panel__label 
                            input(type="radio"  name=range class='panel__radio panel__radio_double')  
                            span Два       
        .panel__block_column Вид слайдера
                -const orientation = `orientation${id}`
                .panel__block_row
                    .panel__block
                        label.panel__label 
                            input(type="radio"  name=orientation class='panel__radio panel__radio_horisontal')
                            span Горизонтальный
                    .panel__block
                        label.panel__label 
                            input(type="radio"  name=orientation class='panel__radio panel__radio_vertical')
                            span Вертикальный
        .panel__block_column
            .panel__block
                label.panel__label
                    input(type="checkbox", name="label"  class='panel__checkbox panel__checkbox_label')
                    span Показать значение ползунка
        .panel__block_column
            .panel__block_row
                label.panel__label.panel__label_flex  
                    span Min
                    input(type="number"  class='panel__input panel__input_medium panel__input_min')
            .panel__block_row
                label.panel__label.panel__label_flex  
                    span Max
                    input(type="number" class='panel__input panel__input_medium panel__input_max')
        .panel__block_column
            .panel__block_row
                label.panel__label.panel__label_flex 
                    span Шаг
                    input(type="number" class='panel__input panel__input_medium panel__input_step')
        .panel__block_column
            .panel__block_row
                label.panel__label.panel__label_flex
                    span Ползунок №1 
                    input(type='number' id='thumb-one-position' class='panel__input panel__input_short panel__input_from')
            .panel__block_row
                label.panel__label.panel__label_flex
                    span Ползунок №2
                    input(type='number'  class='panel__input panel__input_short panel__input_to panel__input_disabled')
            
            

                    


    