include ./panel/panelController/panelController

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(
      name="viewport",
      content="width=device-width, initial-scale=1.0")
    link(
      rel="shortcut icon",
      type ="image/x-icon"
      href="assets/favicon/favicon.ico")
    link(
      rel="apple-touch-icon",
      sizes="180x180",
      href="assets/favicon/apple-touch-icon.png") 
    link(
      rel="icon",
      type="image/png",
      sizes="32x32",
      href="assets/favicon/favicon-32x32.png")
    link(
      rel="icon",
      type="image/png",
      sizes="16x16",
      href="assets/favicon/favicon-16x16.png")
    link(
      rel="manifest",
      href="assets/favicon/site.webmanifest")
    link(
      rel="mask-icon",
      href="assets/favicon/safari-pinned-tab.svg",
      color="#5bbad5")
    meta(
      name ="application-name"
      content = "Slider"
    )
    meta(
      name="msapplication-config",
      content="browserconfig.xml")
    title Slider
  body
    .page
      .page__block
        .page__panel
          +panel-controller(1)
        .page__slider-app.js-page__slider-app.page__slider-app_type_first.js-page__slider-app_type_first
      .page__block
        .page__panel
          +panel-controller(2)
        .page__slider-app.js-page__slider-app.page__slider-app_type_second.js-page__slider-app_type_second
      .page__block
        .page__panel
          +panel-controller(3)
        .page__slider-app.js-page__slider-app.page__slider-app_type_third.js-page__slider-app_type_third
